{% extends "layout.html" %}

{% block title %}Overview{% endblock %}

{% block content %}
   
<section id="about">

    <h3>Citations</h3>

    <p>Below are the citations referenced on this website:</p>
    
    <ul>
        <li><a href="https://www.liberties.eu/en/stories/civil-liberties-definition/44448" target="_blank">What are Civil Liberties? - Liberties.eu</a></li>
        <p>Nulman, A. (2022, October 4). What are Civil Liberties: Definition, Examples, Role I liberties.eu. Liberties.eu. https://www.liberties.eu/en/stories/civil-liberties-definition/44448</p>
        <li><a href="https://reap.fsi.stanford.edu/publication/getting-ahead-digital-repression-authoritarian-innovation-and-democratic-response" target="_blank">What is Digital Authoritarianism? - REAP FSI Stanford</a></li>
        <p>Getting Ahead of Digital Repression: Authoritarian Innovation and Democratic Response. (2024). GDPi. https://reap.fsi.stanford.edu/publication/getting-ahead-digital-repression-authoritarian-innovation-and-democratic-response</p>
        <li><a href="https://www.accessnow.org/internet-shutdowns-2024/" target="_blank">2024: A Record Year for Internet Shutdowns - Access Now</a></li>
        <p>Anthonio, F. (2025, February 24). Lives on hold: internet shutdowns in 2024 - Access Now. Access Now. https://www.accessnow.org/internet-shutdowns-2024/</p>
        <li><a href="https://freedomhouse.org/report/freedom-world" target="_blank">Freedom House - Freedom in the World Report</a></li>
        <p>Freedom House. (2024). Freedom in the World. Freedom House. https://freedomhouse.org/report/freedom-world</p>
        <li><a href="https://globalvoices.org/2022/07/14/access-the-unfreedom-monitor-database/" target="_blank">Global Voices - The Unfreedom Monitor Database</a></li>
        <p>Advox. (2022, July 14). Access the Unfreedom Monitor database. Global Voices. https://globalvoices.org/2022/07/14/access-the-unfreedom-monitor-database/</p>
        <li><a href="https://www.ned.org/data-centric-authoritarianism-how-chinas-development-of-frontier-technologies-could-globalize-repression-2/" target="_blank">The Great Firewall of China</a></li>
        <p>Weber, V. (2025, February 11). Data-Centric Authoritarianism: How China’s Development of Frontier Technologies Could Globalize Repression - NATIONAL ENDOWMENT FOR DEMOCRACY. NATIONAL ENDOWMENT for DEMOCRACY. https://www.ned.org/data-centric-authoritarianism-how-chinas-development-of-frontier-technologies-could-globalize-repression-2/</p>
        <li><a href="https://www.collinsdictionary.com/dictionary/english/censorship" target="_blank">Censorship Definition</a></li>
        <p>Censorship definition and meaning | Collins English Dictionary. (n.d.). Www.collinsdictionary.com. https://www.collinsdictionary.com/dictionary/english/censorship</p>
        <li><a href="https://www.collinsdictionary.com/dictionary/english/surveillance" target="_blank">Surveillance Definition</a></li>
        <p>Definition of surveillance. (2019, December 17). Collinsdictionary.com; HarperCollins Publishers Ltd. https://www.collinsdictionary.com/dictionary/english/surveillance</p>
        <li><a href="https://www.collinsdictionary.com/dictionary/english/freedom-of-speech#:~:text=in%20American%20English-,noun,by%20Penguin%20Random%20House%20LLC." target="_blank">Freedom of Speech Definition</a></li>
        <p>Freedom of speech definition and meaning | Collins English Dictionary. (n.d.). Www.collinsdictionary.com. https://www.collinsdictionary.com/dictionary/english/freedom-of-speech</p>
        <li><a href="https://protectdemocracy.org/work/authoritarianism-explained/" target="_blank">Authoritarianism Explained</a></li>
        <p>Allen, J. (2024, August 12). Authoritarianism, explained. Protect Democracy. https://protectdemocracy.org/work/authoritarianism-explained/</p>
        <li><a href="https://www.merriam-webster.com/dictionary/democracy" target="_blank">Democracy Definition</a></li>
        <p>Merriam-Webster. (2025). Definition of Democracy. Merriam-Webster.com. https://www.merriam-webster.com/dictionary/democracy</p>
    </ul>
    <h4>Image Citations</h4>

    <ul>
        <li><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Frm.coe.int%2Fhandbook-freedom-of-expression-eng%2F1680732814&psig=AOvVaw3uiSFYSOyI3j-D-5gjLRTD&ust=1747420390737000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCMDP0LGOpo0DFQAAAAAdAAAAABAE" target="_blank">Home Page Freedom Image - The Council of Europe</a></li>
    </ul>

</section>
{% endblock %}
